.form-textarea-wrapper.textcount_warning .textfield-counter-element,
.form-item.textcount_warning .textfield-counter-element {
  border-color: #FFD700; }
.form-textarea-wrapper.textcount_warning .textfield_counter_counter .remaining_count,
.form-item.textcount_warning .textfield_counter_counter .remaining_count {
  color: #FFD700; }

.form-textarea-wrapper.textcount_over .textfield-counter-element,
.form-item.textcount_over .textfield-counter-element {
  border-color: #FF0000; }
.form-textarea-wrapper.textcount_over .textfield_counter_counter .remaining_count,
.form-item.textcount_over .textfield_counter_counter .remaining_count {
  color: #FF0000; }
