$warning-color:#FFD700;
$over-color:#FF0000;

.form-textarea-wrapper.textcount_warning,
.form-item.textcount_warning
{
	.textfield-counter-element
	{
		border-color:$warning-color;
	}
	.textfield_counter_counter
	{
		.remaining_count
		{
			color:$warning-color;
		}
	}
}

.form-textarea-wrapper.textcount_over,
.form-item.textcount_over
{
	.textfield-counter-element
	{
		border-color:$over-color;
	}
	.textfield_counter_counter
	{
		.remaining_count
		{
			color:$over-color
		}
	}
}